@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
  @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600;
}

.header-Home {
  background-color:#F6DBB8;
  display:flex;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: auto;
}
.tapbar{
  display:flex;
  justify-content: center;
  align-items: center;
}
.tap{
  border: none;
  background: none;
  margin: 10px;
  width: auto;
  
}
.footer-Home {
  background-color:#F6DBB8;
  display:flex;
  margin-top: 50%;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
}

.container-page1{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFEBD2;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;

}

.container-login{
  margin:2%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.tap2{
  border: none;
  background: none;
  margin-right: 5px;
  width: auto;
  
}

.register-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#e9e7e3;
}

.register-card{
  width:460px;
  background:#e2c3a8;
  padding:30px;
  border-radius:12px;
  border:2px solid #6b4a3c;
  box-shadow:6px 6px 0 rgba(0,0,0,0.2);
}

.register-card h2{
  text-align:center;
  margin-bottom:20px;
}

.input-group{
  display:flex;
  flex-direction:column;
  margin-bottom:15px;
}

.input-group input{
  padding:10px;
  border-radius:20px;
  border:none;
  box-shadow:2px 3px 0 rgba(0,0,0,0.2);
}

.row{
  display:flex;
  gap:10px;
}

.row .input-group{
  flex:1;
}

.register-btn{
  width:100%;
  padding:12px;
  border:none;
  border-radius:25px;
  background:#ff9c2f;
  font-weight:bold;
  cursor:pointer;
  margin-top:10px;
}

.register-btn:hover{
  background:#ff8a00;
}